#chat3 .form-control {
    border-color: transparent;
    }
    
    #chat3 .form-control:focus {
    border-color: transparent;
    box-shadow: inset 0px 0px 0px 1px transparent;
    }
    
    .badge-dot {
    border-radius: 50%;
    height: 10px;
    width: 10px;
    margin-left: 2.9rem;
    margin-top: -.75rem;
    }
     /* Scrollbar Track */
  ::-webkit-scrollbar {
    width: 10px; /* Adjust the width of the scrollbar */
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #a0a0a0; /* Change the color on hover */
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-color: #d3d3d3; /* Scrollbar handle color */
    border-radius: 5px; /* Rounded corners for the handle */
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; /* Track color */
  }
   a {
     cursor: pointer;
   }
    .ms-3{
    color: blue;
   }

   li.active{
     background-color: #ccc;
   }
   li.active p{
    color: #333;
  }