<div class="container">
    <div class="image"></div>
  
    <div class="form">
      <form>
        <table class="box">
          <h3 class="head1">Sign in to</h3>
          <h3 class="head2">NutriBalance <i class="fa-solid fa-leaf"></i></h3>

  
          <tr>
            <td>
              <label for="email">Email</label>
              <input
                type="email"
                id="email"
                name="email"
                placeholder="Email"
                required
                class="form-control"
                [(ngModel)]="email"
              />
            </td>
          </tr>
  
          <tr>
            <td>
              <label for="password">Password</label>
              <input
                type="password"
                id="password"
                name="password"
                placeholder="Password"
                required
                class="form-control"
                minlength="8"
                [(ngModel)]="password"
              />
            </td>
          </tr>
          <tr>
            <td>
                <button id="btn" type="submit" (click)="onSubmit($event)">Sign in</button> 
            </td>
          </tr>
        </table>
      </form>
    </div>
  </div>
