<!-- <button (click)="home()">Home</button> -->
<!-- <button (click)="home()">Home</button>

<div class="card card-container">
    <img id="profile-img" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" class="profile-img-card" />
    <form *ngIf="!isLoggedIn" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
        <div class="form-group">
            <label for="username">Email</label> <input type="text" class="form-control" name="username" [(ngModel)]="form.username" required #username="ngModel" />
            <div class="alert alert-danger" role="alert" *ngIf="f.submitted && username.invalid">Username is required!</div>
        </div>
        <div class="form-group">
            <label for="password">Password</label> <input type="password" class="form-control" name="password" [(ngModel)]="form.password" required minlength="6"
                #password="ngModel" />
            <div class="alert alert-danger" role="alert" *ngIf="f.submitted && password.invalid">
                <div *ngIf="password.errors?.['minlength']">Password must be at least 6 characters</div>
            </div>
        </div>
        <div class="form-group">
            <button class="btn btn-primary btn-block">Login</button>
        </div>
        <div class="form-group">
            <div class="alert alert-danger" role="alert" *ngIf="isLoginFailed">Login failed: {{ errorMessage }}</div>
        </div>
        <div class="form-group">
            <p class="content-divider center mt-3">
                <span>or</span>
            </p>
            <p class="social-login text-center">
                Sign in with:
                <a  href="{{ googleURL }}" class="ml-2">
                            <i class="fa-brands fa-google" style="font-size: 2rem;"></i>
                </a>
            </p>
        </div>
    </form>
    <div class="alert alert-success" *ngIf="isLoggedIn">Welcome {{currentUser.displayName}} <br>Logged in as {{ currentUser.roles }}.</div>
</div> -->
<div class="container">
    <div class="image"></div>
  
    <div class="form">
      <form>
        <table class="box">
          <h3 class="head1">Sign in to</h3>
          <h3 class="head2">NutriBalance <i class="fa-solid fa-leaf"></i></h3>

  
          <tr>
            <td>
              <label for="email">Email</label>
              <input
                type="email"
                id="email"
                name="email"
                placeholder="Email"
                required
                class="form-control"
                [(ngModel)]="email"
              />
            </td>
          </tr>
  
          <tr>
            <td>
              <label for="password">Password</label>
              <input
                type="password"
                id="password"
                name="password"
                placeholder="Password"
                required
                class="form-control"
                minlength="8"
                [(ngModel)]="password"
              />
            </td>
          </tr>

          <tr>
            <td>
                <button id="btn" type="submit" (click)="onSubmit($event)">Sign in</button> 
                <div class="form-group">
                  <p class="social-login text-center">
                    <span>or</span>
                      Sign in with:
                      <a  href="{{ googleURL }}" class="ml-2">
                                  <i class="fa-brands fa-google" style="font-size: 2rem;"></i>
                      </a>
                  </p>
              </div>
            </td>
          </tr>
        </table>
      </form>
    </div>
  </div>