<div class="container">
    <div class="image"></div>
  
    <div class="form">
      <form>
        <h3 class="head1">Coach Sign up</h3>
          <h3 class="head2">NutriBalance <i class="fa-solid fa-leaf"></i></h3>
        <table class="box">
          <tbody>
          <tr>
            <td>
              <label for="email">Email</label>
              <input
                type="email"
                id="email"
                name="email"
                placeholder="Email"
                required
                class="form-control"
                [(ngModel)]="coach.email"
              />
            </td>
           <td>
              <label for="username">Username</label>
              <input
                type="text"
                id="username"
                name="username"
                placeholder="User Name"
                required
                class="form-control"
                minlength="3"
                [(ngModel)]="coach.username"
              />
            </td>

          </tr>  
          <tr>
            <td colspan="2">
              <label for="phone">Phone number</label>
              <input
                type="tel"
                id="phone"
                name="phone"
                placeholder="Enter your phone number"
                required
                class="form-control"
                [(ngModel)]="coach.contact_number"
              />
            </td>
          </tr>
  
          <tr>
            <td colspan="2">
              <label for="password">Password</label>
              <input
                type="password"
                id="password"
                name="password"
                placeholder="Password"
                required
                class="form-control"
                minlength="8"
                [(ngModel)]="coach.password"
              />
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <label for="password2">Confirm your password</label>
              <input
                type="password"
                id="password2"
                name="password2"
                placeholder="Password"
                required
                class="form-control"
                minlength="8"
                placeholder="Confrim your password"
                [(ngModel)]="confirmedPassword"
              />
            </td>
          </tr>
          <tr>
            <td>
              <label for="price">Price</label>
              <input
                type="number"
                id="price"
                name="price"
                placeholder="Price"
                required
                class="form-control"
                minlength="1"
                [(ngModel)]="coach.price"

              />
            </td>
          </tr>
          <tr>
            <td>
              <div class="custom-file">
                <label class="custom-file-label" for="cv">{{ label }}</label>
                <input 
                (change)="onFileSelected($event)"
                  type="file"
                  id="cv"
                  name="cv"
                  placeholder="pdf"
                  required
                  class="custom-file-input"
                  minlength="1"
                  
                />
              </div> 
            </td>
            <td>
            </td>
          </tr>

          <tr>
            <td colspan="2">
              <button id="btn" type="submit" (click)="signup()">Sign up</button>
              <p id="signup">
                Already a member?
                <a (click)="signin()">Sign in now</a>
              </p>
            </td>
          </tr>
        </tbody>
        </table>

      </form>
    </div>
  </div>