.container {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .card {
    width: 45%;
    margin: 20px;
    border: 4px solid black;
    border-radius: 20px;
    background-color: rgb(244, 255, 244);
  }
  h5 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
  }
  button {
    margin: 10px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
    transition: 0.4s;
  }
  button:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
  }
  .list-group-item {
    font-size: 24px;
    background-color: rgb(244, 255, 244);
  }
  .card-body p {
    font-size: 20px;
  }
  .comment-section{
    display: flex;
    flex-direction: column;
    text-align: left;
     
  }
    .comment-section label{
        font-size: 25px;
        
    }
    .comment-section a{
        color: green;
        cursor: pointer;

    }
    .comment-section textarea{
        width: 97%;
        height: 100px;
        border-radius: 10px;
        border: 2px solid black;
        padding: 10px;
        font-size: 20px;
    }
    .comment-section a:hover{
        color: darkred;
    }
    .comment-header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .comment-header i{
        
        font-size: 25px;
    }
  .list-group-item{
    text-align: left;
  }
  
  @media screen and (max-width: 768px) {
    .card {
      width: 80%;
    }
      
  }