<!-- change-password-dialog.component.html -->
<h1 mat-dialog-title>Change Password</h1>
<div mat-dialog-content>
  <form (ngSubmit)="onSubmit()" #passwordForm="ngForm">
    <mat-form-field>
      <input matInput type="password" placeholder="Current Password" [(ngModel)]="currentPassword" name="currentPassword" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" placeholder="New Password" [(ngModel)]="newPassword" name="newPassword" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" placeholder="Confirm Password" [(ngModel)]="confirmPassword" name="confirmPassword" required>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [disabled]="!passwordForm.valid" (click)="onSubmit()">Change Password</button>
</div>
