<div class="table-container mat-elevation-z8">

    
    <mat-form-field class="example-full-width">
        <input matInput placeholder={{filter}} [(ngModel)]="filterValue" (input)="applyFilter()">

      </mat-form-field>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Name Column -->
    <ng-container matColumnDef="food_name">
      <th mat-header-cell *matHeaderCellDef>food_name</th>
      <td mat-cell *matCellDef="let element">{{element.food_name}}</td>
    </ng-container>
  
    <!-- Calories Column -->
    <ng-container matColumnDef="calorie">
      <th mat-header-cell *matHeaderCellDef>calorie per 100gm</th>
      <td mat-cell *matCellDef="let element">{{element.calorie}}</td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  <mat-paginator #paginator pageSize="9" showFirstLastButtons></mat-paginator>
  
</div>