#outer {
  background-color: #008081;
  align-items: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}
#title {
  width: 100%;
  height: 10%;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: rgb(234, 255, 234);
  color: #333;
}
h1 {
  margin-left: 5%;
  text-align: center;
  font-weight: 700;
  font-size: 50px;
  color: #333;
  margin-top: 20px;
}

.text-center {
  display: flex;
  background-color: rgb(234, 255, 234);
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
  font-size: 80px;
  font-weight: 100;
  color: #333;
}
.fa-solid {
  color: #008081;
  font-size: 70px;
}
.logo {
  width: 50px;
  height: 50px;
}
#choose-role {
  margin-top: 1%;
  text-decoration: solid;
  font-size: 36px;
  color: aliceblue;
  font-weight: 700;
  margin-left: 1.5%;
}
#inner {
  margin-top: 0%;
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin-left: 2%;
}
label {
  display: block;
  color: black;
  font-size: larger;
  font-weight: 900;
}

button {
  background-color: lightgreen;
  border: none;
  color: #333;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  cursor: pointer;
  font-weight: 800;
  font-size: larger;
  transition: 0.7s;
}
button:hover {
  background-color: #008081;
  color: white;
  border: 5px solid lightgreen;
  font-size: x-large;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.gradient-text {
  font-family: "Permanent Marker", cursive;
  background: linear-gradient(
    90deg,
    #333,
    #2e8b57,
    #333,
    #006400,
    #333,
    #2e8b57,
    #333,
    #3cb371
  );
  background-size: 600% 600%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient 8s ease infinite;
}
