<h2 mat-dialog-title>
  {{ data.title }}
</h2>
<mat-dialog-content>
  {{ data.body }}
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button class="btn btn-danger" (click)="onCancel()" [disabled]="!isLoading">
    No
  </button>
  <button mat-button class="btn btn-success" (click)="onConfirm()" [disabled]="!isLoading">
    <span *ngIf="!isLoading; else buttonContent">
      <mat-spinner diameter="20"></mat-spinner>
    </span>
    <ng-template #buttonContent>
      Yes
    </ng-template>
  </button>
</mat-dialog-actions>