<!-- <div *ngIf="user.plan!=null" class="subscribed"><h1>You are already subscribed to a plan<br>If you want to unsubscribe go to <a href="userpage/userplan">my plan</a></h1></div> -->

<div class="input-group" style="display: flex;align-items: center;justify-content: center;height: 100%;">
  <div *ngIf="loading_spinner" class="loading-spinner">Loading Plans, Please wait <div
    class="spinner-border text-dark"
    role="status"
  ></div></div>
  <div class="card-container" *ngFor="let plan of plans; let i = index">
    <div class="div1">
      <p>
        <strong class="unique">{{ plan.planName }}</strong>
      </p>
      <p>
        <strong>Goal: </strong><span>{{ plan.goal }}</span>
      </p>
      <p>
        <strong>Description: </strong><span>{{ plan.description }}</span>
      </p>
      
    </div>
    <div class="vertical-line"></div>
    <div class="div2">
      <p>
        <strong class="unique">{{ plan.coach?.username }}</strong>
      </p>
      <p>
        <strong>Email: </strong><span>{{ plan.coach?.email }}</span>
      </p>
      <p>
        <strong>Phone number: </strong
        ><span>{{ plan.coach?.contact_number }}</span>
      </p>
      <p>
        <strong>Address: </strong><span>{{ plan.coach?.address }}</span>
      </p>
      <p>
        <strong>Price: </strong><span>{{ plan.coach?.price }}</span>
      </p>
      <p>
        <strong>rating: </strong><span>{{ plan.coach?.rating }}</span>
      </p>
      <p>
        <strong>Description: </strong><span>{{ plan.coach?.description }}</span>
      </p>
    </div>

    <div class="div3">
      <img [src]="images[i]" />
      <button
        class="btn btn-success"
        data-toggle="modal"
        [attr.data-target]="user.plan!=null ? '#exampleModalCenter1' : '#exampleModalCenter2'"
        (click)="updateindex(i)"
      >
        Subscribe NOW!
      </button>
    </div>
  </div>




  <div
    class="modal fade"
    id="exampleModalCenter1"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle" style="font-size: 20px;">
            You are currently enrolled in a Plan<br><br> Do you Want to Replace it?
          </h5>
          <button class="outer_button" (click)="close()">
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </button>
        </div>
        <div class="modal-footer">
          <div id="buttons" class="d-flex justify-content-between align-items-center w-100">
            <button type="button" class="btn btn-primary" (click)="subscribe(1)">
              Yes
              <div
                class="spinner-border text-light"
                role="status"
                *ngIf="spinner_flag == true"
              ></div>
            </button>
            <button type="button" class="btn btn-primary" (click)="close()">
              Cancel
            </button>
          </div> 
        </div>


      </div>
    </div>
  </div>


  <div
    class="modal fade"
    id="notify1"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">
            Updated subscription successfully!
          </h5>
          <button class="outer_button" (click)="close()">
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </button>
        </div>
      </div>
    </div>
  </div>



  <div
    class="modal fade"
    id="exampleModalCenter2"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle" style="font-size: 25px;">
            Are you sure you want to subscribe to this plan?
          </h5>
          <button class="outer_button" (click)="close()">
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="subscribe(2)">
            Subscribe
            <div
              class="spinner-border text-light"
              role="status"
              *ngIf="spinner_flag == true"
            ></div>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div
    class="modal fade"
    id="notify2"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle" style="font-size: 20px">
            You have Subscribed Successfully!
          </h5>
          <button class="outer_button" (click)="close()">
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>


