<html lang="en">

<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>

    <div id="container">
    
        <div id="sidebar">
            <div class="top" style="display: flex;">
              <img id="header-img" src="../../assets/images/leaf.png" alt="Header Image">
              <a id="Name" >NutriBalance</a>
            </div>
            
            <div id="menu">
            <a routerLink="#"><i class="fas fa-home icon"></i> Home</a>
            <a routerLink="waiting-coaches" routerLinkActive="active"><i class="fas fa-clock icon"></i> Pending Requests</a>

            <a routerLink="viewreports" routerLinkActive="active"><i class="fas fa-file-signature"></i>Reports</a>
            </div>

            <div id="sidebar-end-block">
              <a (click)="logout()"><i class="fas fa-sign-out-alt icon"></i> Logout</a>
            </div>
        </div>
    
        <div id="content">
          <router-outlet></router-outlet>
        </div>
    </div>

</body>
</html>
