
@import '@angular/material/prebuilt-themes/indigo-pink.css';
* {
  font-family: "Montserrat", sans-serif;
}
body {
  background-color: rgb(234, 255, 234);
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
